.card-items{
    display: grid;  
    grid-template-columns: auto auto auto auto;
}

.MuiCardHeader-title{
    font-weight: bold !important;

}

.MuiCardHeader-subheader{
    font-weight: bold !important;
}

.MuiCardHeader-action{
    font-weight: bold !important;
}

@media (max-width:767px) {
    .card-items{
        display: block;
    }
    .card{
        margin: 2rem !important;
    }
}