.card-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.MuiCardHeader-title{
    font-weight: bold !important;

}

.MuiCardHeader-subheader{
    font-weight: bold !important;
}

.MuiCardHeader-action{
    font-weight: bold !important;
}
